@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


nav{
  background-color: #3f51b5;
  padding: 5px;
  position: sticky;
  top: 0;
}

nav span{
  font-family: 'Pacifico', cursive;
  font-size: 1.8rem;
  color: white;
  text-align: left !important;
  margin: auto;
  padding-left: 1rem;
  
}

.output{
  margin: 20px;
}

.progress-bar{
  max-height: 40px;
}

*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}