@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.App{
 
    display: flex;

    /*vertically stack children*/
    flex-direction: column;

    /* expand to take full height of page */
    /* min-height overrides both height & max-height */
    min-height: 100vh; 

   
  /* min-height: 100vh; */
  /* flex-grow: 1; */
  /* padding-bottom: 25px; */
}

main.main-content{
  flex-grow: 1;
}


nav{
  background-color: #3f51b5;
  padding: 5px;
  /* position: sticky; */
  /* top: 0; */
}

nav span{
  font-family: 'Pacifico', cursive;
  font-size: 1.8rem;
  color: white;
  text-align: left !important;
  margin: auto;
  padding-left: 1rem;
  
}

.output{
  margin: 20px;
}

.progress-bar{
  max-height: 40px;
}



*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}